@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/bebas-neue-v9-latin-regular.woff2") format("woff2"),
    url("../fonts/bebas-neue-v9-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/open-sans-v34-latin-300.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-300.woff") format("woff");
}
