.hexagon {
 --border: 2em;
 display: grid;
 grid-template-areas: "stac";
 position: relative;
 width: min(100%, 180px);
 clip-path: var(--clip);
 &:after {
  --bg: rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  top: calc(50% - var(--border) / 2);
  left: calc(50% - var(--border) / 2);
  transform: translate(calc(-50% + var(--border) / 2), calc(-50% + var(--border) / 2));
  height: calc(100% - var(--border));
  width: calc(100% - var(--border));
  background-color: var(--bg, rgba(#fff, 0.5));
  clip-path: inherit;
  transition: background-color 0.3s ease;
 }
 &:hover {
  &:after {
   --bg: rgba(0, 0, 0, 0.85);
  }
 }
 &:nth-child(9n + 1),
 &:first-child {
  margin-left: 9.65%;
  @include bp(950px) {
   margin-left: 0;
  }
 }
 &:nth-child(n + 5) {
  margin-top: -2.5em;
  @include bp(950px) {
   margin-top: 0;
  }
 }
}

.hexagon__media {
 grid-area: stac;
 width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: center;
}

/*Slider customisition*/

.gallery__nested-slider {
 .splide__track {
  @include bp(950px) {
   width: 90%;
   padding: 2.5em 0;
   margin: 0 auto;
  }
  @include bp(600px) {
   width: 100%;
   padding: 0;
  }
  .splide__slide {
   @include bp(600px) {
    transform: scale(0.8);
    opacity: 0.4;
    transition: transform 0.3s ease-in;
   }
  }
  .splide__slide.is-active {
   @include bp(950px) {
    transform: scale(1.3);
    opacity: 1;
    z-index: 2;
    transition: transform 0.3s ease-in;
   }
   @include bp(600px) {
    transform: scale(1);
   }
  }
 }
}
